<html>
  <head>
    <title>Replay</title>
  </head>
  <body>
    <h1>Request Replay</h1>
    <p>Hello {{employeeName}},</p>
    <p>Your request for leave is <strong>{{Replay}}</strong></p>

    <p>Thank you,</p>
    <p>{{companyName}} Team</p>
  </body>
</html>